body {
    font-family: 'Fira Sans', sans-serif;
}

#pageNavigator {
    background-color:white;
}

#pageBody {
    background-color:tomato;
    padding-top:215px;
    text-align:center;
}

#doorIcon {
    color: #7F7F7F;
    font-size: 35px;
}

h1 {
    color:white;
    font-size:55px;
}

h2 {
    color:white;
    font-size:40px;
}

h3 {
    color:white;
    font-size:24px;
}

#about {
    padding-top:80px;
}

.textBox {
    background-color: white;
    display: inline-block;
    margin: 10px;
    padding: 20px 15px 0px 15px;
    border-radius:.4em;
}

#portfolio {
    padding-top:80px;
}

footer {
    margin-top: 15px;
    background-color: white;
}

footer i {
    color:tomato;
    font-size: 30px;
    margin: 0px 20px;
}

footer i:hover {
    color:maroon;
}

a {
    color: tomato;
}

a:hover {
    color:maroon;
}

footer p {
    font-size: 12px;
}

.websiteHolder {
    background-color: white;
    display: inline-block;
    margin: 30px 0px;
    border-radius: .4em;
    padding:50px;
}

.websiteHolder:hover {
    background-color: lightgray;
}
